{
	email {$ACME_EMAIL}
}

pb.hexwagon.com {
	encode zstd gzip

	reverse_proxy server:8080 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
		header_up X-Forwarded-Host {host}
	}

	header {
		Referrer-Policy no-referrer
		X-Content-Type-Options nosniff
	}
}
